body {
  background: linear-gradient(45deg, #02030b, #e31506);
}

/* CSS for the card */
.card {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  background-image: url(img/download.jpeg);
  height: 440px;
  color: rgb(248, 244, 244);
}

/* Style for buttons */
button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #f4f0ef;
  color: #070606;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}

.stbtn {
  margin-top: 20px;
  text-decoration: none;
}

.stbtn a {
  text-decoration: none;
}

/* Style for hint text */
.hint {
  font-style: italic;
}

@media screen and (max-width: 768px) {
  body {
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(45deg, #02030b, #e31506);
    font-family: Helvetica, sans-serif;
    color: rgb(211, 211, 211);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* CSS for the card */
  .card {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    margin-top: 70px;
    text-align: center;
    background-image: url(img/download.jpeg);
    height: 440px;
    color: rgb(248, 244, 244);
  }
  
  /* Style for buttons */
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f4f0ef;
    color: #070606;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
  }
  
  .stbtn {
    margin-top: 10px;
    text-decoration: none;
  }
  
  .stbtn a {
    text-decoration: none;
  }
  
  /* Style for hint text */
  .hint {
    font-style: italic;
  }
}