* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url('./img/circle.jpeg'); /* Replace with your image file path */
   /* Cover the entire container */
  background-size: cover;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  height: 100vh; /* Set a fixed height, e.g., 100% of the viewport height */
  filter: blur(-10px);
}
div.header{
  margin-left: 400px;
  margin-top: 170px;
}
.img1{
  width:  50px;
  height: 50px;
  
}
.img2 {
  width:  50px;
  height: 50px;
  
}
.startButton {
  margin-left: 460px;
  margin-top: 50px;
  background-color: black;
  border-radius: 30px;
  width: 100px;
  color: white;
}

